<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @story.image %>
</p>

<p>
  <strong>User id:</strong>
  <%= @story.user_ID %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
